@model ICollection<AuthenticationClientData>

@if (Model.Count > 0)
{
    <form action="@Url.Action("ExternalLogin", "User", new { ReturnUrl = ViewBag.ReturnUrl })" method="post" class="well clear-well">
        <fieldset id="socialLoginList">
            @Html.AntiForgeryToken()
            <legend>Log in using another service</legend>
            @foreach (AuthenticationClientData p in Model)
            {
                <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account" class="btn">@p.DisplayName</button>
            }
        </fieldset>
    </form>
}
