@model ICollection<InjectCC.Web.ViewModels.User.ExternalLogin>

@if (Model.Count > 0)
{
    <div class="well clear-well">
        <h3>Registered External Logins</h3>

        @foreach (InjectCC.Web.ViewModels.User.ExternalLogin externalLogin in Model)
        {
            <form action="@Url.Action("Disassociate", "Account")" method="post" class="form-horiztonal">
                <div class="control-group">
                    <label class="control-label">@externalLogin.ProviderDisplayName</label>
                    <div class="controls">
                        @if (ViewBag.ShowRemoveButton)
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("provider", externalLogin.Provider)
                            @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                            <button type="submit" class="btn btn-danger" title="Remove this @externalLogin.ProviderDisplayName credential from your account">Remove</button>
                        }
                        else
                        {
                            @: Registered
                        }
                    </div>
                </div>
            </form>
        }
    </div>
}
