@model InjectCC.Web.ViewModels.User.SettingsModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@Html.AntiForgeryToken()
@Html.ValidationSummary()
<fieldset>
    <legend>Set Password Form</legend>
    <div class="control-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label", @for = "NewPasswordTextBox" })
        <div class="controls">
            @Html.PasswordFor(m => m.NewPassword, new { id = "NewPasswordTextBox" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label", @for = "ConfirmPasswordTextBox" })
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword, new { id = "ConfirmPasswordTextBox" })
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Change Password</button>
        </div>
    </div>
</fieldset>
