@model InjectCC.Web.ViewModels.User.LocalPasswordModel

<p class="message-success">@ViewBag.StatusMessage</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
