@model InjectCC.Web.ViewModels.User.SettingsModel

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section head {
    <title>inject.cc - Account Settings</title>
}

<p class="message-success">@ViewBag.StatusMessage</p>
<div class="tabbable tabs-left">
    @Html.Partial("_SettingsMenu")
    <div class="span10">
        <form action="@Url.Action("Settings", "User")" method="post">
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.Timestamp)
            <fieldset class="form-horizontal">
                <legend>Profile</legend>
                <div class="control-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label", @for = "EmailTextBox" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "you@domain.com", id = "EmailTextBox" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Registered on</label>
                    <div class="controls">
                        <span class="uneditable-input">@Model.RegistrationDate.ToString("D")</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Save changes</button>
                    </div>
                </div>
            </fieldset>
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            { 
                @Html.Partial("_SetPasswordPartial")
            }
        </form>
        @Html.Action("RemoveExternalLogins")
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>