@model InjectCC.Web.ViewModels.User.SettingsModel

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section head {
    <title>inject.cc - Account Settings</title>
}

<p class="message-success">@ViewBag.StatusMessage</p>
<div class="tabbable tabs-left">
    @Html.Partial("_SettingsMenu")
    <div class="container-fluid tab-content">
        <div class="row-fluid">
            <form action="@Url.Action("Settings", "User")" method="post">
                <div class="row-fluid">
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.UserId)
                    @Html.HiddenFor(m => m.Timestamp)
                </div>
                <div class="row-fluid">
                    <fieldset class="form-horizontal span6">
                        <legend>Profile</legend>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label", @for = "EmailTextBox" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "you@domain.com", id = "EmailTextBox" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Registered on</label>
                            <div class="controls">
                                <span class="uneditable-input">@Model.RegistrationDate.ToString("D")</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">Save changes</button>
                            </div>
                        </div>
                    </fieldset>
                    <div class="span6">
                        @if (ViewBag.HasLocalPassword)
                        {
                            @Html.Partial("_ChangePasswordPartial")
                        }
                        else
                        { 
                            @Html.Partial("_SetPasswordPartial")
                        }
                    </div>
                </div>
            </form>
        </div>
        <div class="row-fluid">
            <div id="externalLogins" class="span6">
                @Html.Action("RemoveExternalLogins")
            </div>
            <div class="span6">
                @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
            </div>
        </div>
    </div>
</div>