@model InjectCC.Web.ViewModels.Medication.MedicationModel

<fieldset class="span6 form-horizontal" id="LocationForm">
    <legend>Injection Sites</legend>
    <p>
        <small class="muted">
            Add injection sites using the form below.  The order of injection sites below determines injection order.
        </small>
    </p>
    <div class="control-group">
        <label class="control-label">Location Name</label>
        <div class="controls">
            <input type="text" class="input-medium" name="locationName" id="LocationNameField" />
            @Html.ValidationMessageFor(m => m.Locations)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Next Injection in:</label>
        <div class="controls">
            <input type="text" class="input-mini" name="timeUntilNext" id="ValueUntilNextInjectionField" />
            <select class="input-small" id="UnitUntilNextInjectionField">
                <option>days</option>
                <option>hours</option>
                <option>minutes</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Reference Image</label>
        <div class="controls">
            <select id="ReferenceImageSelector">
            @foreach (var image in Model.ReferenceImages)
            {
                <option value="@image">@Path.GetFileNameWithoutExtension(image)</option>
            }
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <canvas id="ReferenceCanvas" class="injection-diagram img-polaroid" width="300px" height="250px"></canvas>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <button class="btn" type="button" id="AddLocationButton"><i class="icon-plus-sign"></i> Add Location</button>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <ul class="no-bullet">
                @foreach (var location in Model.Locations.OrderBy(l => l.Ordinal))
                {
                    @Html.Partial("_LocationCompact", location)
                }
            </ul>
        </div>
    </div>
</fieldset>
<fieldset class="span5 form-horizontal">
    <legend>Medication Info</legend>

    <div class="control-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label", @for = "NameTextBox" })
        <div class="controls">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.Description, new { @class = "control-label", @for = "DescriptionField" })
        <div class="controls">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn" type="submit">@ViewBag.ModelVerb Medication</button>
        </div>
    </div>
</fieldset>

<script type="text/template" id="_LocationCompact">
    @Html.Partial("_LocationCompact", new ViewDataDictionary())
</script>