@model InjectCC.Web.ViewModels.Medication.EditModel

@section scripts {
    @Scripts.Render("~/bundles/medication")

    <script type="text/javascript">
        $(function () {
            injectcc.medication.init();
        });
    </script>
}

@section head {
    <title>inject.cc - @Model.Name</title>
    <style type="text/css">
        @Html.ReferenceImageClasses(Model.ReferenceImages)
    </style>
}

@{ ViewBag.ModelVerb = "Update"; }

<div class="tabbable tabs-left">
    @Html.Partial("_SettingsMenu")
    <div class="container-fluid tab-content">
        <div class="row-fluid">
            <form action="" method="post">
                @Html.RenderAlerts()
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.MedicationId)

                @Html.Partial("_Form")
            </form>
        </div>
    </div>
</div>