@model InjectCC.Web.ViewModels.Medication.EditModel

@section scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/jqueryui", "~/Scripts/inject.cc.medication.js")
}

@section styles {
    <style type="text/css">
        #LocationList { list-style-type: none; margin: 0; padding: 0; }
        #LocationList li { cursor: move; }
    </style>
}

@section head {
    <title>inject.cc - New Medication</title>
}

@{ ViewBag.ModelVerb = "Update"; }

<div class="tabbable tabs-left">
    @Html.Partial("_SettingsMenu")
    <div class="container-fluid tab-content">
        <div class="row-fluid">
            <form action="" method="post">
                @Html.RenderAlerts()
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.MedicationId)

                @Html.Partial("_Form")
            </form>
        </div>
    </div>
</div>