@model InjectCC.Web.ViewModels.Medication.EditModel

@section scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/jqueryui", "~/Scripts/Models/injectcc.medication.js")

    <script type="text/javascript">
        $(function () {
            var medication = new injectcc.models.Medication({
                id: 0
            });
        });
    </script>
}

@section head {
    <title>inject.cc - @Model.Name</title>
}

@{ ViewBag.ModelVerb = "Update"; }

<div class="tabbable tabs-left">
    @Html.Partial("_SettingsMenu")
    <div class="container-fluid tab-content">
        <div class="row-fluid">
            <form action="" method="post">
                @Html.RenderAlerts()
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.MedicationId)

                @Html.Partial("_Form")
            </form>
        </div>
    </div>
</div>