@model InjectCC.Web.ViewModels.Medication.NewModel

@section head {
    <title>inject.cc - New Medication</title>
}

@section scripts {
    @Scripts.Render("~/bundles/medication")
}

<div class="tabbable tabs-left">
    @Html.Partial("_SettingsMenu")
    <div class="container-fluid tab-content">
        @Html.RenderAlerts()
        <div class="row-fluid">
            <form action="" method="post" class="form-horizontal">
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>New Medication</legend>
                    <div class="control-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                </fieldset>
                <fieldset class="well copy-form">
                    <h3>Copy an existing medication</h3>
                    <p class="muted">You can pre-load an injection rotation from a common medication. Select a medication below and give it your own name.</p>
                    <div class="control-group">
                        @Html.LabelFor(model => model.CopyFromMedicationId, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(model => model.CopyFromMedicationId, Model.CopyableMedications)
                            @Html.ValidationMessageFor(model => model.CopyFromMedicationId)
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-actions">
                        <button class="btn" type="submit">Create Medication</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>