@model InjectCC.Web.ViewModels.Medication.NewModel

@section scripts {
    @Scripts.Render("~/bundles/medication")
}

@section head {
    <title>inject.cc - New Medication</title>
    <style type="text/css">
        @Html.ReferenceImageClasses()
    </style>
}

@{ ViewBag.ModelVerb = "Create"; }

<div class="tabbable tabs-left">
    @Html.Partial("_SettingsMenu")
    <div class="container-fluid tab-content">
        <div class="row-fluid">
            <form action="" method="post">
                @Html.RenderAlerts()
                @Html.AntiForgeryToken()

                @Html.Partial("_Form")
            </form>
        </div>
    </div>
</div>