@model InjectCC.Web.ViewModels.Injection.IndexModel

@section scripts {
    @Scripts.Render("~/bundles/injection")

    <script type="text/javascript">
        $(function () {
            injectcc.injection.init();
        });
    </script>
}

@section head {
    <title>inject.cc - Record Injection</title>
    <style type="text/css">
        @Html.ReferenceImageClasses(Model.Locations.Select(l => l.ReferenceImageUrl).Distinct())
    </style>
}

<div class="row">
    <div class="span8">
        <form action="@Url.Action("Create")" method="post" class="form-horizontal">
            <fieldset>
                <legend>New Injection</legend>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.NextInjection.MedicationId)
                @Html.HiddenFor(m => m.NextInjection.LocationId)

                <div class="control-group">
                    <label class="control-label" for="LocationDropDown">Date</label>
                    <div class="controls">
                        <div class="input-append">
                            @Html.TextBoxFor(m => m.NextInjection.Date, "{0:d}", new { @class = "input-small" })
                            <span class="add-on">
                                <i class="icon-calendar"></i>
                            </span>
                        </div>
                        @*<div class="input-append">
                            @Html.TextBoxFor(m => m.NextInjection.Date.TimeOfDay, @"{0:hh\:mm\:ss}", new { @class = "input-small" })
                            <span class="add-on">
                                <i class="icon-time"></i>
                            </span>
                        </div>*@
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Record Injection</button>
                    <button type="button" class="btn">Delay</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span4">
        @foreach (var image in Model.Locations.Select(l => l.ReferenceImageUrl).Distinct())
        {
            <img src="@image" class="injection-diagram img-polaroid"></img>
        }
    </div>
    <ul class="hidden">
        @foreach (var location in Model.Locations.OrderBy(l => l.Ordinal))
        {
            @Html.Partial("_LocationCompact", location)
        }
    </ul>
</div>
<div class="row">
    <div class="span3">
        Last 30 days
    </div>
    <div class="span9">
        <div class="progress">
            <div class="bar bar-success" style="width: 75%;"></div>
            <div class="bar bar-danger" style="width: 25%;"></div>
        </div>
    </div>
</div>