<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        @Html.Stylesheet("~/Content/Site.css")
        @Html.Stylesheet("~/Content/bootstrap.min.css")
        @Html.Stylesheet("~/Content/bootstrap-responsive.min.css")

        @RenderSection("head", false)
    </head>
    <body>
        @*<div id="fb-root"></div>
        <script>
            // Additional JS functions here
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '339264949506995', // App ID
                    channelUrl: '//inject.cc/Content/channel.html', // Channel File
                    status: true, // check login status
                    cookie: true, // enable cookies to allow the server to access the session
                    xfbml: true  // parse XFBML
                });

                FB.getLoginStatus(function (response) {
                    if (response.status === 'connected') {
                        // connected
                        console.log('Welcome!  Fetching your information.... ');
                        FB.api('/me', function (response) {
                            console.log('Good to see you, ' + response.name + '.');
                        });
                    } else if (response.status === 'not_authorized') {
                        // not_authorized
                        login();
                    } else {
                        // not_logged_in
                        login();
                    }
                });
            };

            function login() {
                FB.login(function (response) {
                    if (response.authResponse) {
                        // connected
                    } else {
                        // cancelled
                    }
                });
            }
        </script>*@
        <div class="container">
            <div class="masthead">
                @if (Html.ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <div class="pull-right hidden-phone">
                        <ul class="nav nav-pills">
                            @Html.NavActionLink("Injections", "Index", "Injection")
                            @Html.NavActionLink("History", "History", "Injection")
                            @Html.NavActionLink("Settings", "Settings", "User")
                            @Html.NavActionLink("Sign out", "Logout", "User")
                        </ul>
                    </div>
                    <div class="visible-phone">
                        <h3 class="muted">inject.cc</h3>
                        <ul class="nav nav-pills nav-stacked">
                            @Html.NavActionLink("Injections", "Index", "Injection")
                            @Html.NavActionLink("History", "Index1", "Injection")
                            @Html.NavActionLink("Settings", "Settings", "User")
                            @Html.NavActionLink("Sign out", "Logout", "User")
                        </ul>
                    </div>
                }
                else
                {
                    <form class="navbar-form pull-right">
                        <fieldset>
                            <input class="span2" type="text" placeholder="Email" />
                            <input class="span2" type="password" placeholder="Password" />
                            <button type="submit" class="btn">Sign in</button>
                        </fieldset>
                    </form>
                }
                <h3 class="muted hidden-phone">inject.cc</h3>
            </div>

            <hr />

            @RenderBody()
            
            <div style="clear: both;"></div>

            <hr />

            <div class="span12">
                <p>&copy; Company 2013</p>
            </div>
        </div>

        @Html.Script("~/Scripts/jquery-1.9.1.min.js")
        @Html.Script("~/Scripts/modernizr-1.7.min.js")
        @Html.Script("~/Scripts/bootstrap.min.js")
        @*Html.Script("//connect.facebook.net/en_US/all.js")*@
    </body>
</html>
