<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <title>inject.cc - Injection Rotation Tracker</title>

        @Styles.Render("~/Content/css")
        @RenderSection("styles", required: false)
        @RenderSection("head", required: false)
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                <a href="@Url.Action("Index", "Home")" class="muted site-logo"><h3>inject.cc</h3></a>
                @if (Html.ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <text>
                        <button class="phone-menu-toggle btn"><i class="icon-align-justify"></i></button>
                        <div class="main-menu">
                            <ul class="nav nav-pills">
                                <li class="visible-phone"><h3>inject.cc</h3></li>
                                @Html.NavActionLink("Injections", "Index", "Injection")
                                @Html.NavActionLink("History", "History", "Injection")
                                @Html.NavActionLink("Settings", "Settings", "User")
                                @Html.NavActionLink("Sign out", "Logout", "User")
                            </ul>
                        </div>
                    </text>
                }
                else
                {
                    <text>
                        <button class="phone-login-toggle btn">Sign in</button>
                        @Html.Partial("_LoginForm", new InjectCC.Web.ViewModels.User.LoginModel())
                    </text>
                }
                <div class="clearfix"></div>
                <hr />
            </div>

            @RenderBody()
            
            <hr />

            <div class="span12">
                <p>&copy; Stuart Branham (<a href="http://twitter.com/glompix">@@glompix</a>)</p>
            </div>
        </div>
        
        @Scripts.Render("~/bundles/common")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(function () {
                injectcc.init();
            });
        </script>
    </body>
</html>
