<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        @Styles.Render("~/Content/css", "~/Content/bootstrap")
        @RenderSection("styles", required: false)
        @RenderSection("head", required: false)
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                @if (Html.ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <div class="pull-right hidden-phone">
                        <ul class="nav nav-pills">
                            @Html.NavActionLink("Injections", "Index", "Injection")
                            @Html.NavActionLink("History", "History", "Injection")
                            @Html.NavActionLink("Settings", "Settings", "User")
                            @Html.NavActionLink("Sign out", "Logout", "User")
                        </ul>
                    </div>
                    <div class="visible-phone">
                        <a href="@Url.Action("Index", "Home")" class="muted"><h3>inject.cc</h3></a>
                        <ul class="nav nav-pills nav-stacked">
                            @Html.NavActionLink("Injections", "Index", "Injection")
                            @Html.NavActionLink("History", "Index1", "Injection")
                            @Html.NavActionLink("Settings", "Settings", "User")
                            @Html.NavActionLink("Sign out", "Logout", "User")
                        </ul>
                    </div>
                }
                else
                {
                    <a href="@Url.Action("Index", "Home")" class="visible-phone muted"><h3>inject.cc</h3></a>
                    @Html.Partial("_LoginForm");
                }
                <a href="@Url.Action("Index", "Home")" class="hidden-phone muted"><h3>inject.cc</h3></a>
            </div>

            <hr />

            @RenderBody()
            
            <div style="clear: both;"></div>

            <hr />

            <div class="span12">
                <p>&copy; Company 2013</p>
            </div>
        </div>
        
        @Scripts.Render("~/bundles/common")
        @RenderSection("scripts", required: false)
    </body>
</html>
