<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        @Html.Stylesheet("~/Content/Site.css")
        @Html.Stylesheet("~/Content/bootstrap.min.css")
        @Html.Stylesheet("~/Content/bootstrap-responsive.min.css")

        @RenderSection("head", false)
    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                @if (Html.ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <div class="pull-right">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#">Injections</a></li>
                            <li><a href="#">History</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <form class="navbar-form pull-right">
                        <input class="span2" type="text" placeholder="Email">
                        <input class="span2" type="password" placeholder="Password">
                        <button type="submit" class="btn">Sign in</button>
                    </form>
                }
                <h3 class="muted">inject.cc</h3>
            </div>

            <hr>

            @RenderBody()
            
            <div style="clear: both;"></div>
            <hr>

            <div class="span12">
                <p>&copy; Company 2013</p>
            </div>
        </div>

        @Html.Script("~/Scripts/jquery-1.5.1.min.js")
        @Html.Script("~/Scripts/modernizr-1.7.min.js")
        @Html.Script("~/Scripts/bootstrap.min.js")
        @Html.Script("~/Scripts/bootstrap-transition.js")
        @Html.Script("~/Scripts/bootstrap-alert.js")
        @Html.Script("~/Scripts/bootstrap-modal.js")
        @Html.Script("~/Scripts/bootstrap-dropdown.js")
        @Html.Script("~/Scripts/bootstrap-scrollspy.js")
        @Html.Script("~/Scripts/bootstrap-tab.js")
        @Html.Script("~/Scripts/bootstrap-tooltip.js")
        @Html.Script("~/Scripts/bootstrap-popover.js")
        @Html.Script("~/Scripts/bootstrap-button.js")
        @Html.Script("~/Scripts/bootstrap-collapse.js")
        @Html.Script("~/Scripts/bootstrap-carousel.js")
        @Html.Script("~/Scripts/bootstrap-typeahead.js")
    </body>
</html>
