@model InjectCC.Web.ViewModels.User.LoginModel

<form action="@Url.Action("Login", "User")" method="post" class="login-compact form-inline">
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.HiddenFor(m => m.RememberMe)
        @Html.TextBoxFor(m => m.Email, new { @class = "input-medium", placeholder = "your@email.com" })
        @Html.PasswordFor(m => m.Password, new { @class = "input-medium", placeholder = "password" })
        
        <button type="submit" class="btn">Sign in</button>    
    </fieldset>
</form>