@model InjectCC.Web.ViewModels.User.RegisterModel

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section styles {
    <style type="text/css">
        .masthead .login-form { display: none; }
        
        @@media (max-width: 976px)
        {
            #RegistrationForm
            {
                width: 100%;
            }
            
            #RegistrationForm + *
            {
                width: 100%;
            }
        }
    </style>
}

<div class="row">
    <form class="form-horizontal span6" id="RegistrationForm">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>        
            <legend>Register a new account.</legend>
            <div class="control-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label", @for = "EmailTextBox" })
                <div class="controls">                
                    @Html.TextBoxFor(m => m.Email, new { @id = "EmailTextBox", placeholder = "youraddress@domain.com" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label", @for = "PasswordTextBox" })
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { @id = "PasswordTextBox" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label", @for = "ConfirmPasswordTextBox" })
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "ConfirmPasswordTextBox" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Come on in!</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="span6">
        <div class="well">
            <h3>Welcome to inject.cc!</h3>
            <hr />

            <h4>Works anywhere</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Motivational</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

            <h4>Customizable</h4>
            <p>Tailor your rotation to your preferences - any site, any schedule.</p>

            <h4>Anonymous</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>
</div>